@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: #f97316;
  }
  html {
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-white text-neutral-900;
  }
}
